@layer utilities {
  .text-shadow {
    text-shadow: 0 1px 1px rgba(0, 0, 0, .1), 0 1px 4px rgba(0, 0, 0, .2);
  }

  .text-shadow-none {
    text-shadow: none;
  }

  .text-md {
    font-size: 15px;
  }

  .text-red-no {
    color: #E30B0B;
  }


  .p-route {
    @apply px-3;
  }

  .w-195px {
    width: 195px;
  }

  .w-225px {
    width: 225px;
  }

  .w-400px {
    width: 400px;
  }

  .w-700px {
    width: 700px;
  }


  .shadow-separator {
    box-shadow: 0 4px 15px rgba(0, 0, 0, .7);
  }

  .shadow-button {
    box-shadow: 0 11px 17px rgba(0, 0, 0, .4);
  }


  .bg-img-base {
    background-image: url('./assets/images/base-background.png');
  }

  .bg-img-light {
    background-image: url('./assets/images/light-background.jpg');
  }

  .bg-blur {
    backdrop-filter: blur(50px) saturate(125%);
  }

  .bg-trans-red {
    background-color: rgba(181, 4, 4, .75);
  }

  .bg-green-yes {
    background-color: rgba(80, 255, 54, .6);
  }

  .bg-green-no {
    background-color: rgba(238, 0, 0, .6);
  }


  .first-capitalize:first-letter {
    text-transform: capitalize;
  }

  .no-scrollbar {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none
  }

  .no-scrollbar::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
  }
}
